﻿body {
    background-image: url('image/pop.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.new-view {
    transform: rotateY(180deg) rotateX(180deg) rotateZ(180deg);
    -webkit-transform: rotateY(180deg) rotateX(180deg) rotateZ(180deg);
    -o-transform: rotateY(180deg) rotateX(180deg) rotateZ(180deg);
    -ms-transform: rotateY(180deg) rotateX(180deg) rotateZ(180deg);
    -moz-transform: rotateY(180deg) rotateX(180deg) rotateZ(180deg);
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    /*cursor: pointer;*/
}
.nav {
  background: #202024 url('image/lk.png') repeat left top;
  left: -50%;
  height: 100%;
  position: fixed;
  width: 15%;
  z-index: 1000;
}
.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  z-index: 200;
}
.icon-close img:hover {
    background-image: url('image/close1.png');
}
.nav ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}
.nav li p:hover {
    color: aqua;
    text-shadow: 0 0 15px #419cef; 
}
#hplgallery{
    color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
#hplgallery:hover{
    color: aqua;
    text-shadow: 0 0 15px #419cef; 

}
.nav p {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  position: fixed;
  border-radius: 100%;
  z-index: 100;
}
.icon-menu img:hover {
    box-shadow: 0 0 15px #419cef;
}
.panel {
    margin: 0 auto;
    width: 100%;
    height: 400px;
    position: relative;
    font-size: .8em;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
}
.panel .front {
    position: absolute;
    top: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    text-align: center;
    -webkit-transform: rotateX(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -ms-transform: rotateX(0deg);
    -ms-transform-style: preserve-3d;
    -ms-backface-visibility: hidden;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel.flip .front {
    z-index: 900;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
}
.panel .back {
    position: absolute;
    top: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    -webkit-transform: rotateX(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -ms-transform: rotateX(-180deg);
    -ms-transform-style: preserve-3d;
    -ms-backface-visibility: hidden;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
}
.panel .back .pad {
    width: 100%;
    height:400px;
    position: absolute;
    top: 0;
    left: 0;
}
.image1 {
    width: 100%; 
    height:400px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.select1 {
    width: 100%; 
    height:400px;
    display: inline;
}
.rotate {
    margin-top: 0;
    width: 100%;
    height: auto;
}
.image {
    width: 8.8%;
    height: 100px;
    display: inline;
    cursor: pointer;
}
.select {
    border: 5px double #419cef;
    border-radius: 10px;
    width: 8%;
    height: 100px;
    display: inline;
    cursor: pointer;
    position: relative;
    top: 4.5px;
}
.rules {
    width: 100%;
    height: 450px;
    background-color: red;
}
.animate {
    width: 100%;
    height: 150px;
    /*background-color: blue;*/
}
.about2 {
    width: 100%;
    height: 400px;
    margin-top: 50px;
}
.go-right {
    width: 40%;
    height: inherit;
    float: left;
    display: inline;
}
.go-left {
    width: 60%;
    height: inherit;
    float: right;
    display: inline;
}
.achieve {
    width: 100%;
    height: 500px;
    background-color: magenta;
    display: block;
    margin-top: 200px;
}
.register {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: #202024;
    cursor: pointer;
    text-decoration: none;
}
.register:hover {
    color: #6f0505;
    cursor: pointer;
    text-shadow: 0 0 20px #419cef;
}
.help2 {
    width: 100%;
    height: 475px;
    display: block;
    margin-top: 150px;
}
.footer {
    width: 100%;
    height: 50px;
    position: relative;
    top: -15px;
}
.head {
    width: 100%;
    height: 200px;
    margin: auto;
}
.peek{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #6f0505;
    text-shadow: 0 0 20px #419cef;
}
.txtbox {
    width: 100%;
    height: 30px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}
.txtbox:focus {
    border-radius: 10px;
    box-shadow: 0 0 15px #a9c50e;
}
.entry {
    width: 50%;
    height: auto;
    margin: auto;
}