﻿body {
    background: url('images/1763203.png') no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.top{
    height: 140px;
    width: 100%;  
    background-color: red; 
}
.text {
    float: left;
    width: 100%;
}
.text p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4em;
    color:#fff;
    margin: 0 5%;
}
.images{
    position:relative;
    margin-top: 10%;
    padding: 0 6%;
    margin-left:auto;
    margin-right:auto;
    align-content:center;
}
.images img:hover{
    box-shadow: 0 0 15px #0465dc;
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;



}
.a{
    height: 500px;
    width: 32%;
    display:inline;
    margin: 10px auto;
    border:2px double #0465dc;

}
.b{
    height: 500px;
    width: 64%;
    display:inline;
    margin: 10px auto;
    border:2px double #0465dc;

}
.navigation{
    width:100%;
    height:auto;
    background-color: #ff6a00;
}

